.top-nav-bar {
    -fx-background-color: #8b0000;
}

.nav-text-white { -fx-text-fill: white; -fx-font-size: 12px; }

.nav-text-white-bold { -fx-text-fill: white; -fx-font-size: 12px; -fx-font-weight: bold; }

.main-nav-bar {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.logo-title { -fx-text-fill: #8b0000; -fx-font-weight: bold; -fx-font-size: 26px; }

.logo-subtitle { -fx-text-fill: #555555; -fx-font-weight: bold; -fx-font-size: 11px; }

.nav-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.nav-btn-active {
    -fx-background-color: transparent;
    -fx-text-fill: #8b0000;
    -fx-border-color: transparent transparent #8b0000 transparent;
    -fx-border-width: 0 0 2 0;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.item-card {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #e0e0e0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 5, 0, 0, 2);
}

.item-card:hover {
    -fx-border-color: #8b0000;
    -fx-effect: dropshadow(three-pass-box, rgba(139,0,0,0.2), 10, 0, 0, 4);
    -fx-cursor: hand;
}

.card-image-placeholder {
    -fx-background-color: #ecf0f1;
    -fx-background-radius: 8 8 0 0;
}

.cart-title {
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
}

.register-btn {
    -fx-background-color: #8E2424;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.register-btn:hover {
    -fx-background-color: #a02d2d;
}

.register-btn:disabled {
    -fx-background-color: #bdc3c7;
    -fx-text-fill: #7f8c8d;
    -fx-cursor: default;

    -fx-opacity: 1.0;
}